<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>HomePage</td><td>SampleTest.VerifyAddtoFolderSignin()[pri:0, instance:com.tests.SampleTest@59af0466]<br/></td></tr>
</table>
