<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>somename</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="93b7af">  <td>19/01/16 13:00:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initiator.setUp(java.lang.reflect.Method)[pri:0, instance:com.tests.SampleTest@59af0466]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1409154977</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>19/01/16 13:00:25</td>   <td>11900</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest.VerifyAddtoFolderSignin()[pri:0, instance:com.tests.SampleTest@59af0466]">VerifyAddtoFolderSignin</td> 
  <td>main@1409154977</td>   <td></td> </tr>
</table>
