<h2>Reporter output</h2><table><tr><td>[13:00:25] : <b><FONT SIZE="2">Launched Kohler Site</FONT></b><br></td></tr>
<tr><td>[13:00:25] : <b><FONT SIZE="2">Clicking on Sign in Button</FONT></b><br></td></tr>
<tr><td>[13:00:26] : <b><FONT SIZE="2">sign in modal displays</FONT></b><br></td></tr>
<tr><td>[13:00:26] : <b><FONT SIZE="2">Passing Email Address in to Email address text field</FONT></b><br></td></tr>
<tr><td>[13:00:26] : <b><FONT SIZE="2">Providing password in to password text field</FONT></b><br></td></tr>
<tr><td>[13:00:27] : <b><FONT SIZE="2">Clicking on Sign in button</FONT></b><br></td></tr>
<tr><td>[13:00:32] : <b><FONT SIZE="2">Getting Total no. of Slick dots(Nav Circles) available in 'Discover the Possibilities' grid</FONT></b><br></td></tr>
<tr><td>[13:00:32] : <b><FONT SIZE="2">Clicking on Add to Folder CTA available in each carousel slide of 'Discover the Possibilities' grid</FONT></b><br></td></tr>
<tr><td>[13:00:32] : <b><FONT SIZE="2">Clicking on Save to folder CTA of 1st carousel slide in 'Discover the Possibilities' grid</FONT></b><br></td></tr>
<tr><td>[13:00:33] : <b><FONT SIZE="2">Selecting the folder from drop down</FONT></b><br></td></tr>
<tr><td>[13:00:33] : <b><FONT SIZE="2">Adding Note and Saving to selected folder</FONT></b><br></td></tr>
<tr><td>[13:00:34] : <b><FONT SIZE="2">Clicking on Continue shopping and navigating to next slide</FONT></b><br></td></tr>
<tr><td>[13:00:39] : <b><FONT SIZE="2">Clicking on Save to folder CTA of 2st carousel slide in 'Discover the Possibilities' grid</FONT></b><br></td></tr>
<tr><td>[13:00:40] : <b><FONT SIZE="2">Selecting the folder from drop down</FONT></b><br></td></tr>
<tr><td>[13:00:40] : <b><FONT SIZE="2">Adding Note and Saving to selected folder</FONT></b><br></td></tr>
<tr><td>[13:00:41] : <b><FONT SIZE="2">Clicking on Continue shopping and navigating to next slide</FONT></b><br></td></tr>
<tr><td>[13:00:46] : <b><FONT SIZE="2">Clicking on Save to folder CTA of 3st carousel slide in 'Discover the Possibilities' grid</FONT></b><br></td></tr>
<tr><td>[13:00:47] : <b><FONT SIZE="2">Selecting the folder from drop down</FONT></b><br></td></tr>
<tr><td>[13:00:47] : <b><FONT SIZE="2">Adding Note and Saving to selected folder</FONT></b><br></td></tr>
<tr><td>[13:00:47] : <b><FONT SIZE="2">Clicking on Continue shopping and navigating to next slide</FONT></b><br></td></tr>
<tr><td><b><font color='RED'>ERROR	:- java.net.ConnectException: Failed to connect to localhost/fe80:0:0:0:0:0:0:1%1:2668
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:42:28.403Z'
System info: host: 'HYDHTC220041D', ip: 'fe80:0:0:0:1089:6176:94ce:8e4f%en0', os.name: 'Mac OS X', os.arch: 'x86_64', os.version: '10.13.6', java.version: '1.8.0_111'
Driver info: driver.version: RemoteWebDriver</font></b></td></tr>
<tr><td>java.net.ConnectException: Failed to connect to localhost/fe80:0:0:0:0:0:0:1%1:2668
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:42:28.403Z'
System info: host: 'HYDHTC220041D', ip: 'fe80:0:0:0:1089:6176:94ce:8e4f%en0', os.name: 'Mac OS X', os.arch: 'x86_64', os.version: '10.13.6', java.version: '1.8.0_111'
Driver info: driver.version: RemoteWebDriver</td></tr>
<tr><td><br><a href=screenshots/VerifyAddtoFolderSignin_Screenshot.png>Screenshot</a> 
</td></tr>
<tr><td><b><font color='RED'>ERROR	:- Error occured while closing webdriver sessionjava.net.ConnectException: Failed to connect to localhost/fe80:0:0:0:0:0:0:1%1:2668
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:42:28.403Z'
System info: host: 'HYDHTC220041D', ip: 'fe80:0:0:0:1089:6176:94ce:8e4f%en0', os.name: 'Mac OS X', os.arch: 'x86_64', os.version: '10.13.6', java.version: '1.8.0_111'
Driver info: driver.version: RemoteWebDriver</font></b></td></tr>
<tr><td>Session ID is null. Using WebDriver after calling quit()?
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:42:28.403Z'
System info: host: 'HYDHTC220041D', ip: 'fe80:0:0:0:1089:6176:94ce:8e4f%en0', os.name: 'Mac OS X', os.arch: 'x86_64', os.version: '10.13.6', java.version: '1.8.0_111'
Driver info: driver.version: RemoteWebDriver</td></tr>
<tr><td><br><a href=screenshots/VerifyAddtoFolderSignin_Screenshot.png>Screenshot</a> 
</td></tr>
</table>