<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>HippoLatamx</td><td>SampleTest1.verifyWorldWideBanner()[pri:0, instance:com.tests.SampleTest1@612679d6]<br/></td></tr>
</table>
