<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b79e6f">  <td>19/01/25 14:47:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initiator.setUp(java.lang.reflect.Method)[pri:0, instance:com.tests.SampleTest1@612679d6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1418385211</td>   <td></td> </tr>
<tr bgcolor="b09868">  <td>19/01/25 14:47:18</td>   <td>11178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest1.verifyWorldWideBanner()[pri:0, instance:com.tests.SampleTest1@612679d6]">verifyWorldWideBanner</td> 
  <td>main@1418385211</td>   <td></td> </tr>
</table>
