<h2>Reporter output</h2><table><tr><td>[14:47:18] : <b><FONT SIZE="2">Launched Kohler Site</FONT></b><br></td></tr>
<tr><td>[14:47:25] : <b><FONT SIZE="2">Kohler World Wide banner is composed of 6 columns</FONT></b><br></td></tr>
<tr><td>[14:47:30] : <b><FONT SIZE="2">Expected Column text: North America, is displayed in World Wide banner</FONT></b><br></td></tr>
<tr><td>[14:47:35] : <b><FONT SIZE="2">Expected Column text: South America, is displayed in World Wide banner</FONT></b><br></td></tr>
<tr><td>[14:47:40] : <b><FONT SIZE="2">Expected Column text: Africa, is displayed in World Wide banner</FONT></b><br></td></tr>
<tr><td>[14:47:45] : <b><FONT SIZE="2">Expected Column text: Europe, is displayed in World Wide banner</FONT></b><br></td></tr>
<tr><td>[14:47:50] : <b><FONT SIZE="2">Expected Column text: Asia, is displayed in World Wide banner</FONT></b><br></td></tr>
<tr><td>[14:47:55] : <b><FONT SIZE="2">Expected Column text: Oceania, is displayed in World Wide banner</FONT></b><br></td></tr>
<tr><td>[14:47:55] : <b><FONT SIZE="2">Checking the navigation of each link</FONT></b><br></td></tr>
<tr><td>[14:47:55] : <b><FONT SIZE="2">Clicking on the link Bahamas</FONT></b><br></td></tr>
<tr><td>[14:48:00] : <b><FONT SIZE="2">Clicking on link Bahamas is redirecting to the corresponding page</FONT></b><br></td></tr>
</table>